<div class="detail-container">
    <div class="gallery-container">
        <div class="gallery">
            <div class="gallery-item">
                <img [src]="productDetail.gallery && productDetail.gallery[selectedIndex]" alt="gallery image {{ selectedIndex+1 }} of {{ productDetail.name }}">
            </div>
        </div>
        <div class="gallery-nav">
            <div *ngFor="let img of productDetail.gallery; index as i" (click)="selectImage(i)" class="gallery-thumbnail">
                <img [class.selected]="selectedIndex===i" [src]="img" alt="thumbnail image {{ i+1 }} of {{ productDetail.name }}">
            </div>
        </div>
    </div>
    <div class="detail-info-container">
        <h2 class="detail-title">{{ productDetail.name }}</h2>
        <div class="price-container">
            <p [class.discount]="productDetail.price !== productDetail.discount" class="price">${{ productDetail.price|number:'1.2-2' }}</p>
            <p *ngIf="productDetail.price !== productDetail.discount" class="price">${{ productDetail.discount|number:'1.2-2' }}</p>
            <p class="price">CAD</p>
        </div>
        <pre class="detail-description">{{ productDetail.description }}</pre>
        <div class="btn-container">
            <button class="add-cart-button" (click)="addToCart()">Add to Cart</button>
            <button class="add-cart-button buy-now-button" (click)="buyNow()">Buy now!</button>
            <!-- <div #paymentRef class="paypal-btn"></div> -->
        </div>
    </div>
</div>
<app-modal *ngIf="isModalOpen" [title]="'Great!'" [message]="'You have successfully added the product to your cart!'" [button]="true" (closeModal)="handleCloseModal()"></app-modal>
