<div class="detail-container">
    <div class="gallery-container">
        <div class="gallery">
            <div *ngFor="let img of productDetail.gallery; index as i" class="gallery-item">
                <img [src]="img" alt="gallery image {{ i+1 }} of {{ productDetail.name }}">
            </div>
        </div>
        <div class="gallery-nav">
            <div *ngFor="let img of productDetail.gallery; index as i" class="gallery-thumbnail">
                <img [src]="img" alt="thumbnail image {{ i+1 }} of {{ productDetail.name }}">
            </div>
        </div>
    </div>
    <div class="detail-info-container">
        <h2 class="detail-title">{{ productDetail.name }}</h2>
        <p class="detail-price">{{ productDetail.id }}</p>
        <p class="detail-price">{{ productDetail.price }}</p>
        <p class="detail-price">{{ productDetail.discount }}</p>
        <p class="detail-description">{{ productDetail.description }}</p>
        <button class="detail-button" (click)="addToCart()">Add to Cart</button>
    </div>
</div>
