<div class="parent">
<div class="navbar-container">
    <a class="logo-container" href="/">
        <img class="logo" src="https://i.ibb.co/ngLRDZb/logo.webp" alt="logo">
    </a>
    <div class="menu" [class.toggle-menu]="toggleValue">
        <a href="#home" class="menu-item">Home</a>
        <a href="#product" class="menu-item">Product</a>
        <a href="#about" class="menu-item">About</a>
    </div>
    <div class="menu-button">
        <button class="menu-button-item" (click)="toggleMenu()">
            {{toggleValue ? 'X' : 'M'}}
        </button>
    </div>
</div>
</div>
