.refund {
    max-width: 1000px;
    padding: 2rem;
    margin: 4rem auto;
    text-align: center;
    h1 {
        font-size: 2rem;
        line-height: 4rem;
    }
    h2 {
        font-size: 1.5rem;
        line-height: 3rem;
    }
    p {
        line-height: 2rem;
    }
    ul li {
        list-style: none;
        line-height: 2rem;
    }
    a {
        text-decoration: none;
        text-decoration: underline;
        font-weight: 700;
        color: gray;
    }
}