<div class="refund">
<h1>Refund Policy</h1>

<h2>Refunds</h2>

<p>
We offer refunds on products returned within 15 days of delivery. To be eligible for a refund, the item must be unused and in the same condition that you received it. It must also be in the original packaging.
</p>

<p>
Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund. If your refund is approved, it will be processed, and a credit will automatically be applied to your original method of payment within a certain number of days.
</p>

<h2>Exchanges</h2>

<p>
We also offer exchanges for products returned within 15 days of delivery. To be eligible for an exchange, the item must be unused and in the same condition that you received it. It must also be in the original packaging.
</p>

<p>
Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your exchange. If your exchange is approved, we will send out the replacement item as soon as possible.
</p>

<h2>Shipping</h2>

<p>
You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable. If you receive a refund, the cost of return shipping will be deducted from your refund.
</p>

<h2>Contact Us</h2>

<p>
If you have any questions about our refund policy or need assistance with a return or exchange, please contact us at <a href="mailto:information@lilidan.online">information&#64;lilidan.online</a>.
</p>
</div>