.cover-images {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position:absolute;
        opacity: 0;
        transition: ease-out 600ms opacity;
        transition-delay: 1000ms;
    }
    .cover-show {
        opacity: 1;
        transition: ease-in 600ms opacity;
    }
}