.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgb(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 30px;
        padding: 40px;
        width: 340px;
        @media (max-width: 768px) {
            width: 85vw;
            padding: 20px;
        }
        button {
            padding: 12px 20px 10px;
            border-radius: 0;
            width: 150px;
            border: none;
            cursor: pointer;
            background-color: white;
            color: black;
            border-color: black;
            border-width: 2px;
            border-style: solid;
            font-weight: bold;
            font-family: inherit;
            font-size: 18px;
            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}