<div class="link-container">
    <ul class="link-list">
        <li class="link-item">
            <a href="#" class="link">Search</a>
        </li>
        <li class="link-item">
            <a href="#" class="link">Contact</a>
        </li>
        <li class="link-item">
            <a href="#" class="link">Terms of Service</a>
        </li>
    </ul>
    <ul class="link-list">
        <li class="link-item">
            <a href="#" class="link">Refund Policy</a>
        </li>
        <li class="link-item">
            <a href="#" class="link">Privacy Policy</a>
        </li>
        <li class="link-item">
            <a href="#" class="link">Shipping Policy</a>
        </li>
    </ul>
    <ul class="link-list">
        <li class="link-item">
            <a href="#" class="link">Facebook</a>
        </li>
        <li class="link-item">
            <a href="#" class="link">Instagram</a>
        </li>
        <li class="link-item">
            <a href="#" class="link">Twitter</a>
        </li>
    </ul>
</div>
<div class="copyright">
    <p>Copyright &copy; 2024, Lili & Dan - All Rights Reserved</p> 
</div>

