<div class="product-card">
    <div class="card-img-container">
        <img [src]="product.imageUrl" alt="product image of {{product.name}}">
    </div>
    <div class="card-content-container">
        <h3 class="content-title">{{product.name}}</h3>
        <p class="content-description">{{product.description}}</p>
        <div class="content-price-container">
            <span class="original-price">{{product.price}}</span>
        </div>
        <button class="add-cart-button">Add to Cart</button>
    </div>
</div>