<div class="product-card">
    <a [routerLink]="['/details', product.id]" class="card-img-container">
        <img class="card-img" [src]="product.imageUrl" alt="product image of {{product.name}}">
    </a>
    <div class="card-content-container">
        <h2 class="content-title">{{product.name}}</h2>
        <!-- <p class="content-description">{{product.description}}</p> -->
        <div class="content-price-container">
            <span class="price discount" [class.discount-hide]="product.price == product.discount">${{product.price | number:'1.2-2'}}</span>
            <span class="price">${{product.price==product.discount?(product.price|number:'1.2-2'):(product.discount|number:'1.2-2')}}</span>
            <span class="price"> CAD</span>
        </div>
        <button class="add-cart-button" (click)="addToCart()">Add to Cart</button>
    </div>
</div>
<app-modal *ngIf="isModalOpen" [title]="'Great!'" [message]="'You have successfully added the product to your cart!'" [button]="true" (closeModal)="handleCloseModal()"></app-modal>