.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    .card-img-container {
        width: 400px;
        max-width: 100%;
        overflow: hidden;
    }
    .card-img {
        width: 100%;
        display: block;
        transition: all 0.25s ease;
        &:hover {
            transform: scale(1.02);
            opacity: 0.9;
        }
    }
    .card-content-container {
        width: 400px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        a {
            text-decoration: none;
        }
        .content-title {
            color: rgb(66, 66, 66);
        }
        .content-price-container {
            display: flex;
            gap:0.5rem;
            .price {
                font-weight: 600;
                font-size: 1.1rem;
            }
            .discount-hide {
                display: none;
            }
            .discount {
                text-decoration: line-through;
                color: rgb(186, 57, 46);
                margin-left: 0.5rem;
            }
        }
        .add-cart-button {
            align-self: flex-end;
            display: inline-block;
            outline: 0;
            border: 0;
            cursor: pointer;
            background: none;
            color: #000000;
            border: 2px solid #000000;
            border-radius: 25px;
            padding: 15px 24px;
            font-size: 1rem;
            font-weight: 800;
            font-family: inherit;
            transition: transform 200ms;
            &:hover{
                transform: translateY(-2px);
            }
            
        }
    }
}