<!-- cover section -->
<section id="cover">
    <app-cover-images [coverImageUrls]="homeData.coverImages" />
</section>

<!-- slogan section -->
<section id="slogan">
    <div class="intro-container">
        <h2 class="intro-title">{{homeData.sloganTitle}}</h2>
        <p class="intro-description">{{homeData.sloganDescription}}</p>
    </div>
</section>

<!-- products section -->
<section id="product">
    <div class="card-container">
        <app-product-card
        *ngFor="let product of products"
        [product]="product">
        </app-product-card>
    </div>
</section>

<!-- about section -->
<section id="about">
    <div class="intro-container">
        <h2 class="intro-title">{{homeData.aboutTitle}}</h2>
        <p class="intro-description">{{homeData.aboutDescription}}</p>
        <button (click)="toggleContact()" class="intro-button">Contact Us</button>
        <div [class.contact-show]="contactShow" class="contact-container">
            <b>information&#64;lilidan.online</b>
            <p>Vancouver, Canada</p>
        </div>
    </div>
</section>

<!-- event section -->
<section id="event">
    <div class="event-container">
        <h2 class="event-title">{{homeData.eventTitle}}</h2>
        <ul class="event-list">
            <div [innerHTML]="homeData.eventDescription"></div>
        </ul>
    </div>
</section>