<!-- cover section -->
<section>
    <!-- <div id="cover" class="cover-container">
        <div class="cover-image"></div>
    </div> -->
    <app-cover-images [coverImageUrls]="homeData.coverImages" />
</section>

<!-- slogan section -->
<section>
    <div id="slogan" class="intro-container">
        <h2 class="intro-title">{{homeData.sloganTitle}}</h2>
        <p class="intro-description">{{homeData.sloganDescription}}</p>
    </div>
</section>

<!-- products section -->
<section>
    <div id="product" class="card-container">
        <app-product-card
        *ngFor="let product of products"
        [product]="product">
        </app-product-card>
    </div>
</section>

<!-- about section -->
<section>
    <div id="about" class="intro-container">
        <h2 class="intro-title">Sister Who Soap</h2>
        <p class="intro-description">Our business is an extension of our home and love for those around us and the planet. We've made a promise to consciously create products that make a positive impact on our health and lifestyle, best utilize natural resources and talent in our communities and make us feel awesome during the process!</p>
        <button (click)="toggleContact()" class="intro-button">Contact Us</button>
        <div [class.contact-show]="contactShow" class="contact-container">
            <b>information&#64;lilidan.online</b>
            <p>Vancouver, Canada</p>
        </div>
    </div>
</section>

<!-- event section -->
<section>
    <div class="event-container">
        <h2 class="event-title">{{homeData.eventTitle}}</h2>
        <ul class="event-list">
            <div [innerHTML]="homeData.eventDescription"></div>
        </ul>
    </div>
</section>