.cover-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: black url(https://i.ibb.co/M9m3SKQ/bg.webp) center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}
.intro-container {
    padding: 5rem 0;
    width:50%;
    text-align:center;
    margin: auto;
    .intro-title {
        line-height: 4rem;
    }
    .intro-description {
        line-height: 1.4rem;
    }
    @media (max-width: 768px) {
        width: 80%;
    }
    .intro-button {
        margin: 2rem 0;
        display: inline-block;
        outline: 0;
        text-align: center;
        cursor: pointer;
        padding: 13px 26px;
        border: 0;
        color: #fff;
        font-size: 17.5px;
        border: 2px solid transparent;
        border-color: #000;
        color: #000;
        background: transparent;
        font-weight: 800;
        line-height: 30px;
        transition: background,color .1s ease-in-out;
        &:hover {
            background-color: #000;
            color: #fff;
        }
        
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    row-gap: 6rem;
    column-gap: 2rem;
    padding: 50px;
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }
}

.event-container {
    text-align: center;
    margin: 0 0 5rem 0;
    .event-title {
        line-height: 4rem;
    }
    li {
        list-style: none;
        margin: 0.2rem 0;
        font-size: 1rem;
        .date {
            font-weight: 600;
        }
    }
}

.contact-container {
    overflow: hidden;
    line-height: 1.4rem;
    transition: all .4s ease-in-out;
    height: 0px;
}

.contact-show {
    height: 3rem;
}
