<!-- cover section -->
<section>
    <div id="cover" class="cover-container">
        <div class="cover-image"></div>
        <!-- <div class="cover-text">
            <h1 class="cover-title">Welcome to our store</h1>
            <p class="cover-description">We have the best products for you</p>
        </div> -->
    </div>
</section>

<!-- slogan section -->
<section>
    <div id="slogan" class="intro-container">
        <h2 class="intro-title">Not Just Any Soap!</h2>
        <p class="intro-description">Our soap is super hydrating, silky smooth and can be used on the most sensitive skin types. Use on your face, body, and to shave! Most soaps in stores are considered detergents that strip your skin of its beneficial oils. Our soap will not only help your skin maintain hydration but it will add oil to your skin! Start your journey to healthier hydrated skin.</p>
    </div>
</section>

<!-- products section -->
<section>
    <div id="product" class="card-container">
        <app-product-card
        *ngFor="let product of products"
        [product]="product">
        </app-product-card>
    </div>
</section>

<!-- about section -->
<section>
    <div id="about" class="intro-container">
        <h2 class="intro-title">Sister Who Soap</h2>
        <p class="intro-description">Our business is an extension of our home and love for those around us and the planet. We've made a promise to consciously create products that make a positive impact on our health and lifestyle, best utilize natural resources and talent in our communities and make us feel awesome during the process!</p>
        <button (click)="toggleContact()" class="intro-button">Contact Us</button>
        <div [class.contact-show]="contactShow" class="contact-container">
            <b>information&#64;lilidan.online</b>
            <p>Vancouver, Canada</p>
        </div>
    </div>
</section>

<!-- event section -->
<section>
    <div class="event-container">
        <h2 class="event-title">Upcoming Shows</h2>
        <ul class="event-list">
            <li><span class="date">October 14</span> - North Beach Farmers Market - San Francisco, CA</li>
            <li><span class="date">November 11</span> - North Beach Farmers Market - San Francisco, CA</li>
            <li><span class="date">November 18</span> - Healdsburg Farmers Market - Healdsburg, CA</li>
            <li><span class="date">November 19</span> - Pop-up/Spa station &#64; Refill Mercantile - Petaluma, CA</li>
            <li><span class="date">November 24, 25</span> - West Cliff Outdoor Market -  Santa Cruz, CA</li>
            <li><span class="date">December 2</span> - Healdsburg Farmers Market - Healdsburg, CA</li>
            <li><span class="date">December 9</span> - Healdsburg Farmers Market - Healdsburg, CA</li>
            <li><span class="date">December 9</span> - North Beach Farmers Market - San Francisco, CA</li>
            <li><span class="date">December 16</span> Open Aire Artisan Faire - Broadway Plaza Walnut Creek, CA</li>
            <li><span class="date">December 23</span> - North Beach Farmers Market - San Francisco, CA</li>
        </ul>
    </div>
</section>