<div class="cart-container">
    <!-- <div class="cart-header">
        <h1>Shopping Cart</h1>
    </div> -->
    <div *ngIf="count!==0" class="cart-body">
        <div class="cart-item-container">
            <div class="cart-item" *ngFor="let product of products">
                <div class="cart-item-image">
                    <img [src]="product.imageUrl" alt="product image" />
                </div>
                <div class="cart-item-details">
                    <h3>{{ product.name }}</h3>
                    <p>Price: ${{ product.discount | number:'1.2-2' }}</p>
                    <a class="remove-btn" (click)="removeProduct(product)">Remove</a>
                </div>
                <div class="count-container">
                    <button class="count-circle-btn" (click)="decreaseCount(product)">-</button>
                    <p>{{ product.count }}</p>
                    <button class="count-circle-btn" (click)="increaseCount(product)">+</button>
                </div>
            </div>
        </div>
        <!-- <hr class="break-line"/> -->
        <div class="cart-summary">
            <h2>Cart Summary</h2>
            <p>Total Items: {{ count }}</p>
            <p>Total Cost: ${{ amount | number:'1.2-2' }}</p>
            <p>Estimated Taxes: ${{ amount * 0.12 | number:'1.2-2'}}</p>
        </div>
        <div class="cart-checkout">
            <button class="checkout-btn" (click)="checkout()">Checkout</button>
        </div>
    </div>
    <div *ngIf="count===0" class="cart-empty">
        <h3>Your cart is empty</h3>
    </div>
    <div #paymentRef [class.hide]="count===0"></div>
</div>
